{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h2 class="display-3">D3 Examples</h2>
  <ul><li><a href="{{url_for('simple_line')}}">Simple Line</a></li></ul>
  <ul><li><a href="{{url_for('simple_step')}}">Simple Step</a></li></ul>
  <ul><li><a href="{{url_for('simple_spline')}}">Simple Spline</a></li></ul>
  <ul><li><a href="{{url_for('simple_area')}}">Simple Area</a></li></ul>
  <ul><li><a href="{{url_for('multiple_line')}}">Multiple Line</a></li></ul>
</div>
{% endblock %}